<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">
                    LOGIN
                </h4>
                <form [formGroup]="loginForm" (ngSubmit)="guardar()">
                    <div class="form-group">
                        <input 
                        type="email" 
                        placeholder="Correo electrónico" 
                        formControlName="email"
                        class="form-control"
                        required>
                    </div>
                    <div class="form-group">
                        <input 
                        type="password"
                        required 
                        placeholder="Contraseña" 
                        formControlName="password"
                        class="form-control">
                    </div>                                       
                    <button 
                    type="submit" 
                    class="btn btn-primary btn-block"
                    [disabled]="!loginForm.valid">
                        Entrar
                    </button>
                    <button
                    type="button"
                    (click)="onGoogle()"
                    class="btn btn-block btn-google">
                        Google
                    </button>
                    <small>¿No estás registrado? 
                        <a routerLink="/register">Register</a>
                    </small>  
                </form>
            </div>
        </div>
    </div>
</div>