<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">
                    REGISTER
                </h4>
                <form [formGroup]="registerForm" (ngSubmit)="guardar()" >
                    <div class="form-group">
                        <input 
                        type="email" 
                        placeholder="Correo electrónico" 
                        formControlName="email"
                        required
                        class="form-control">
                    </div>
                    <div class="form-group">
                        <input 
                        type="password" 
                        required
                        placeholder="Contraseña" 
                        formControlName="password"
                        class="form-control">
                    </div>
                    <button 
                    type="submit" 
                    class="btn btn-info btn-block"
                    [disabled]="!registerForm.valid">
                        Guardar
                    </button>
                    <small>¿Ya tienes cuenta? 
                        <a routerLink="/login">Login</a>
                    </small>
                </form>
            </div>
        </div>
    </div>
</div>